{% extends "base.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Sign Up" context "Signup page title" %} — {{ block.super }}{% endblock %}

{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}


{% block content %}
<div id="content" class="site-content" tabindex="-1" >
   <div class="col-full">
      <div class="pizzaro-breadcrumb">
         <nav class="woocommerce-breadcrumb" ><a href="{% url "home" %}">Home</a><span class="delimiter"><i class="po po-arrow-right-slider"></i></span>Signup</nav>
      </div>
      <!-- .woocommerce-breadcrumb -->
      <div id="primary" class="content-area">
         <main id="main" class="site-main" >
            <div id="post-10" class="post-10 page type-page status-publish hentry">
               <div class="entry-content">
                  <div class="woocommerce">
                     <div class="customer-login-form">
                        <!-- <span class="or-text">or</span> -->
                        <div class="u-columns col2-set" id="customer_login">
                           <div class="u-column1 col-1">
                              <h2>Create an account at FoodEzm</h2>
                              <p><u><i><a href="{% url "account_login" %}">Already have an account or want to use Facebook or Google for SignUp?</a></i></u><p>
                              <form  class="login" method="post" action="{% url "account_signup" %}">
                                 <p class="before-login-text">Hello Guest! Signup at FoodEzm</p>
                                 <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
                                    <label for="username">Email address<span class="required">*</span></label>
                                    <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="email" id="email" value="" />
                                 </p>
                                 <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
                                    <label for="password">Password <span class="required">*</span></label>
                                    <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" />
                                 </p>
                                 <p class="form-row">
                                    <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="02aaeb6b10" />
                                    <input type="hidden" name="_wp_http_referer" value="/pizzaro/my-account/" />
                                    <input type="submit" class="woocommerce-Button button" name="signup" value="Create an account" />
                                 </p>
                                 {% csrf_token %}
                              </form>
                           </div>
                        </div>
                     </div>
                     <!-- /.customer-login-form -->
                  </div>
               </div>
               <!-- .entry-content -->
            </div>
            <!-- #post-## -->
         </main>
         <!-- #main -->
      </div>
      <!-- #primary -->
   </div>
   <!-- .col-full -->
</div>

{% endblock content %}


{% comment %}
  <div class="col-lg-10 col-sm-12 m-auto">
    <div class="row login">
      <div class="col-md-6 login__register">
        <div class="login__register-link">
          <h3>{% trans "Already have an account?" context "Signup form secondary title" %}</h3>
          <img class="signup-img" src="{% static 'images/pirate_login.png' %}"
               srcset="{% static 'images/pirate_login.png' %} 1x, {% static 'images/pirate_login2x.png' %} 2x">
          <p><a rel="nofollow" href="{% url 'account_login' %}" class="btn secondary narrow">
            {% trans "Log in" context "Signup form secondary action" %}
          </a></p>
        </div>
      </div>
      <div class="col-md-6 login__form">
        <form method="post" action="{% url 'account_signup' %}">
          <fieldset>
            <h3>{% trans "Create an account" context "Signup form title" %}</h3>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if REDIRECT_FIELD_VALUE %}
             <input type="hidden" name="{{ REDIRECT_FIELD_NAME }}"
                    value="{{ REDIRECT_FIELD_VALUE }}"/>
            {% endif %}
          </fieldset>
          <button type="submit" class="btn primary narrow">
            {% trans "Create an account" context "Signup form primary action" %}
          </button>
        </form>
      </div>
    </div>
  </div>
{% endcomment %}
