{% extends "dashboard/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
  {% trans "Images" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_products_class %}active{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:product-list" %}" class="breadcrumb">
        {% trans "Products" context "Dashboard products list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:product-list" %}">
        <svg data-src="{% static "dashboard/images/arrow_left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <a href="{% url "dashboard:product-detail" product.pk %}">{{ product }}</a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">{% trans "Images" %}</span>
    </li>
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <form action="{% url 'dashboard:product-images-upload' product_pk=product.pk %}" method="post" id="product-image-form" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" id="id_imagefile" name="imagefile" />
    <button id="upload-image">Upload</button>
  </form>



{% endblock %}
