{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{% endblock title %} | FoodEZM</title>
      <link rel="stylesheet" type="text/css" href="{% static "new/css/bootstrap.min.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "new/css/font-awesome.min.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "new/css/animate.min.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "new/css/font-pizzaro.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "new/css/style.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "new/css/colors/red.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "new/css/jquery.mCustomScrollbar.min.css" %}" media="all" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CYanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
      <link rel="shortcut icon" href="{% static "new/images/fav-icon.png" %}">
      <!-- <link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" %}" />
      <link rel="stylesheet" type="text/css" href="{% static "oscar/css/datetimepicker.css" %}" /> -->
   </head>

   {% if request.resolver_match.view_name == "home" %}
      <body class="page-template-template-homepage-v1 home-v1">
   {% else %}
      <body class="single-product style-1 woocommerce">
   {% endif %}
     <div id="page" class="hfeed site">
       {% include "header.html" %}

       {% block content %}
       {% endblock content %}

       {% include "footer.html" %}

     </div>
     <script type="text/javascript" src="{% static "new/js/jquery.min.js" %}"></script>
     <script type="text/javascript" src="{% static "new/js/tether.min.js" %}"></script>
     <script type="text/javascript" src="{% static "new/js/bootstrap.min.js" %}"></script>
     <script type="text/javascript" src="{% static "new/js/owl.carousel.min.js" %}"></script>
     <script type="text/javascript" src="{% static "new/js/social.share.min.js" %}"></script>
     <script type="text/javascript" src="{% static "new/js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
     <script type="text/javascript" src="{% static "new/js/scripts.min.js" %}"></script>
     <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
     {% render_bundle 'vendor' 'js' %}
     {% render_bundle 'storefront' 'js' %}
   </body>
